{% extends 'base.html' %}

{% block title %} Chat{% endblock %}

{% block content %}
    <form id="post-response-form" method="post" action="{% url 'response-forum:create' %}">
        {% csrf_token %}
        <input id="prompt-value" type="hidden" value="" name="prompt" required>
        <input id="response-value" type="hidden" value="" name="response" required>
    </form>

    <div class="card card-body">
        <div class="card">
            <div class="card-header">
                Chat
            </div>
            <div class="card-body">
                <div id="prompt-message">
                    <div class="d-flex flex-row justify-content-end mb-4">
                        <div class="chat-message">
                            <p class="small mb-0 text-break" id="content" style="white-space: pre-wrap">

                            </p>
                        </div>
                        <img class="avatar avatar-med" src="{{ user.profile.avatar.url }}" alt="avatar">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-start mb-4" id="response-message">
                    {% load static %}
                    <img class="avatar avatar-med" src="{% static 'images/bot.png' %}" alt="bot_avatar">
                    <div class="chat-message">
                        <p class="small mb-0 text-break" id="content" style="white-space: pre-wrap">Hello! I'm ready to answer any of your question.</p>
                        <div class="spinner-border spinner-border-sm" role="status" id="loading">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <input type="submit" id="post-response" class="btn btn-outline-secondary btn-sm mt-1"
                               form="post-response-form" value="Post this response">
                    </div>
                </div>
            </div>
        </div>

        <form class="mt-1" method="post" id="prompt-form">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-text">
                    <label class="form-check-label" for="real">Real&nbsp;</label>
                    <input class="form-check-input" type="checkbox" id="real" value="asdfasdf">
                </div>

                <input id="prompt" required type="text" class="form-control" placeholder="Prompt" aria-label="Prompt"
                       aria-describedby="submit-but" maxlength="1000">
                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-send"></i></button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scrpits %}
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    <script type="text/javascript">const responseUrl = '{% url 'model-chat:get-response' %}';</script>
{% endblock %}
