{% extends 'base.html' %}
{% load static %}

{% block title %}
    Responses
{% endblock %}

{% block content %}
    <div class="card card-body mt-3">
        <div class="container row">
            <div class="col-4">
                <h4 class="card-title mt-2">Responses</h4>
            </div>
            <div class="col-8">
                <input id="filter" name="filter" type="text" class="form-control" placeholder="Search" value="{{ search }}">
            </div>
        </div>
        {% include 'forum/responses_list.html' %}
    </div>
{% endblock %}

{% block scrpits %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">const responseListUrl='{% url 'response-forum:list_of_responses' %}'</script>
    <script type="text/javascript" src="{% static 'js/response_list.js' %}"></script>
{% endblock %}