{% extends 'base.html' %}

{% block title %}
    {{ object.prompt }}
{% endblock %}

{% block content %}
    <div class="card card-body">
        <div class="card card-body">
            <div class="d-flex flex-row justify-content-end mb-4">
                <div class="chat-message">
                    <p class="small mb-0">
                        {{ object.prompt }}
                    </p>
                </div>
                <img class="avatar avatar-med" src="{{ object.author.profile.avatar.url }}" alt="avatar">
            </div>
            <div class="d-flex flex-row justify-content-start">
                {% load static %}
                <img class="avatar avatar-med" src="{% static 'images/bot.png' %}" alt="bot_avatar">
                <div class="chat-message">
                    <p class="small mb-0">
                        {{ object.response }}
                    </p>
                </div>
            </div>
        </div>

        <hr>
        <p class="card-text">
            <img src="{{ response.author.profile.avatar.url }}" alt="avatar" class="avatar avatar-sm">
            <small class="text-muted">
                <a href="{% url 'users:user_page' response.author_id %}">@{{ response.author.username }}</a>
                · {{ response.publication_date }}
            </small>
        </p>
    </div>
{% endblock %}