{% extends 'base.html' %}

{% block title %}
    {{ object.prompt }}
{% endblock %}

{% block content %}
    <div class="card card-body mt-3">
        <h5 class="card-title">Prompt:</h5>
        <div class="card card-body">
            <p class="card-text">{{ object.prompt }}</p>
        </div>
        <h5 class="card-title mt-3">Response:</h5>
        <div class="card card-body">
            <p class="card-text">{{ object.response }}</p>
        </div>
        <hr>
        <p class="card-text">
            <img src="{{ response.author.profile.avatar.url }}" alt="avatar" class="rounded-circle bg-light avatar" width="32" height="32">
            <small class="text-muted">
                <a href="{% url 'users:user_page' response.author_id %}">@{{ response.author.username }}</a> · {{ response.publication_date }}
            </small>
        </p>
    </div>
{% endblock %}